# IDE
/.idea

# Dependency directories
node_modules/

# Firebase Hosting
.firebase
firebase-debug.log
/.github/

# Optional npm cache directory
.npm

# Build generated
/build/

# Project keys
.env



